body {
    font-family: Arial, sans-serif;
    background-color: #f8d9e3;
    margin: 0;
    padding: 0;
}


header {
    background-color: #f3b9c4;
    padding: 10px; /* Reduced padding to make the header smaller */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
    justify-content: space-between;; /* Space between logo and nav */
}

.logo{
    margin-right: 20px;
    margin-left: 20px;
}

.logo img {
    max-height: 80px; /* Set a maximum height for the logo */
    height: auto; /* Maintain aspect ratio */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Remove default margin */
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #a03a5d;
    font-size: 14px; 
}

main {
    padding: 20px;
    text-align: center;
}


main h1 {
    color:  #a03a5d;
}


form {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    padding: 20px;
    text-align: left;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


form label {
    display: block;
    margin-bottom: 10px;
}


form input[type="text"],
form input[type="email"],
form input[type="date"],
form input[type="time"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: calc(100% - 22px);
    margin-bottom: 20px;
}


form input[type="submit"] {
    background-color: #a03a5d;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
}


form input[type="submit"]:hover {
    background-color: #a03a5d;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #f3b9c4;
}


.confirmation-container {
    text-align: center; /* Center text and inline elements */
    background-color: white; /* Background for the confirmation box */
    padding: 20px; /* Padding around the content */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional: shadow for depth */
}

.back-button {
    display: inline-block; /* Make it behave like a block element */
    background-color: #a03a5d; /* Button background color */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding for the button */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underline */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    margin-top: 20px; /* Space above the button */
}

.back-button:hover {
    background-color: #8c2e4d; /* Darker shade on hover */
}