.portfolio-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto; 
    max-width: 1200px;
}

.portfolio-item {
    flex: 1 1 30%;
    margin: 10px; 
    max-width: 300px; 
    position: relative;
}

.image-container {
    position: relative;
    overflow: hidden; 
    border-radius: 10px;
    aspect-ratio: 1 / 1; 
}

.image-container img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    display: block;
}

.overlay {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 192, 203, 0.7);
    color: white;
    display: flex; 
    justify-content: center; 
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
    opacity: 1; 
}

.portfolio {
    font-size: 36px; 
    color: #a03a5d; 
    text-align: center;
    margin-bottom: 20px; 
    position: relative; 
}

.portfolio::after {
    content: ""; 
    display: block; 
    width: 50%;
    height: 4px;
    background-color: #f3b9c4;
    margin: 10px auto;
    border-radius: 5px;
}